.timer-button {
  width: 100%;
  padding: 10px;

  border-radius: 3px;
  background-color: grey;
}

.timer-button--active {
  background-color: darkorange;
}

.timer-button--invalid {
  background-color: #ff4136;
}

.timer-duration {
  line-height: 125px;
  font-size: 80px;
}
